<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxonomy.id %>">
              <%= taxonomy.name %>
              <i class="fa fa-plus"></i>
            </a>
            <ul id="<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.children.each do |taxon| %>
                <%= link_to potepan_category_path(taxon.id) do %>
                  <% if taxon.descendants.any? %>
                    <li>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %>
                      <span>(<%= Spree::Product.in_taxon(taxon).count %>)</span>
                    </li>
                  <% else %>
                    <li>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %>
                      <span>(<%= taxon.products.count %>)</span>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
