<% provide(:title, @taxon.name) %>
<%= render partial: 'potepan/shared/top_section', locals: { title: @taxon.name } %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render  partial: 'potepan/shared/taxonomy', locals: { taxonomies: @taxonomies } %>
        <%= render 'potepan/shared/cost_filters' %>
        <%= render 'potepan/shared/color_filters' %>
        <%= render 'potepan/shared/size_filters' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/shared/product_index' %>
        <%= render  partial: 'potepan/shared/product', collection: @products %>
      </div>
    </div>
  </div>
</section>
