<% provide(:title, @product.name) %>
<%= render partial: 'potepan/shared/top_section', locals: { title: @product.name } %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render partial: 'potepan/shared/single_product', locals: { product: @product } %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: 'potepan/products/related_product', collection: @related_products %>
    </div>
  </div>
</section>
