<div class="header clearfix">
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-vimeo"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-tumblr"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li>
              <span>
                <a data-toggle="modal" href='#login'>Log in</a>
                <small>or</small>
                <a data-toggle="modal" href='#signup'>Create an account</a></span></li>
            <li class="dropdown searchBox">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-search"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <span class="input-group">
                    <input type="text" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">Search</span>
                  </span>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-shopping-cart"></i>$0</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>Item(s) in your cart</li>
                <li>
                  <a href="#">
                    <div class="media">
                      <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
                      <div class="media-body">
                        <h5 class="media-heading">INCIDIDUNT UT
                          <br>
                          <span>2 X $199</span></h5>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
                      <div class="media-body">
                        <h5 class="media-heading">INCIDIDUNT UT
                          <br>
                          <span>2 X $199</span></h5>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Shopping Cart</button>
                    <button type="button" class="btn btn-default">Checkout</button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><%= link_to image_tag("img/logo.png"), controller: :sample, action: :index %></div>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", controller: :sample, action: :index %></li>
          <li class="dropdown megaDropMenu active">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
            <ul class="dropdown-menu row">
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Products Grid View</li>
                  <li class="active">
                    <a href="product_grid_left_sidebar.html">Products Sidebar Left</a>
                  </li>
                  <li>
                    <a href="product_grid_right_sidebar.html">Products Sidebar Right</a>
                  </li>
                  <li>
                    <a href="product-grid-3-col-filter.html">Products 3 Columns V1</a>
                  </li>
                  <li>
                    <a href="product-grid-3-col.html">Products 3 Columns V2</a>
                  </li>
                  <li>
                    <a href="product-grid-4-col.html">Products 4 Columns</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Products List View</li>
                  <li>
                    <a href="product_list_left_sidebar.html">Products Sidebar Left</a>
                  </li>
                  <li>
                    <a href="product_list_right_sidebar.html">Products Sidebar Right</a>
                  </li>
                  <li class="listHeading">Others</li>
                  <li>
                    <a href="single_product.html">Single Product</a>
                  </li>
                  <li>
                    <a href="cart_page.html">Cart Page</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Checkout</li>
                  <li>
                    <a href="checkout_step_1.html">Step 1 - Address</a>
                  </li>
                  <li>
                    <a href="checkout_step_2.html">Step 2 - Shipping</a>
                  </li>
                  <li>
                    <a href="checkout_step_3.html">Step 3 - Payment</a>
                  </li>
                  <li>
                    <a href="checkout_step_4.html">Step 4 - Payment</a>
                  </li>
                  <li>
                    <a href="checkout_complete.html">Order Complete</a>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <a href="#" class="menu-photo"><%= image_tag("img/menu-photo.jpg", :alt => "menu-img") %></a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li>
                <a href="about_us.html">About Us</a>
              </li>
              <li>
                <a href="signup.html">Register</a>
              </li>
              <li>
                <a href="signup-login.html">Register or Login</a>
              </li>
              <li>
                <a href="login.html">Login</a>
              </li>
              <li>
                <a href="lost-password.html">Password Recovery</a>
              </li>
              <li>
                <a href="privacy_policy.html">Privacy Policy</a>
              </li>
              <li>
                <a href="terms-and-conditions.html">Terms &amp; Conditions</a>
              </li>
              <li>
                <a href="404.html">404 Not Found</a>
              </li>
              <li>
                <a href="coming-soon.html">Coming Soon</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="blog_right_sidebar.html">Right Sidebar</a>
              </li>
              <li>
                <a href="blog_left_sidebar.html">Left Sidebar</a>
              </li>
              <li>
                <a href="blog-fullwidth.html">Full Width</a>
              </li>
              <li>
                <a href="blog-single-fullwidth.html">Single Post</a>
              </li>
              <li>
                <a href="blog_single_right_sidebar.html">Single Right Sidebar</a>
              </li>
              <li>
                <a href="blog_single_left_sidebar.html">Single Left Sidebar</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="account-dashboard.html">Dashboard</a>
              </li>
              <li>
                <a href="account-profile.html">Profile</a>
              </li>
              <li>
                <a href="account-all-orders.html">All Orders</a>
              </li>
              <li>
                <a href="account-single-order.html">Single Order</a>
              </li>
              <li>
                <a href="account-wishlist.html">Wishlist</a>
              </li>
              <li>
                <a href="account-address.html">Address</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
